{% extends "base.html" %}


{% block content %}

<h1>Game Review for {{gamelist.name}}</h1>

<hr>

<p>Rate this Game from 1-5 <p>
<p><i>(5 is the highest!)</i></p>

{{ form.hidden_tag() }} 
    
    {% for field in form if field.widget.input_type !=
    'hidden' %}
    <p>
        {{ field.label }} {{ field }} 
        {% for error in field.errors %} 
        {{ error}} 
        
        {% endfor %}
    </p>
    {% endfor %}

    <button type="submit">Add Review</button>
</form>



<a href=""><p>Back To Game Lists</p></a>

{% endblock %}