{% extends 'base.html' %}

{% block content %}
  <h1>Edit Gamelist</h1>


  <form method="POST">
    {{ form.hidden_tag() }}

    {{form.title.label}} {{form.title()}} 
    {{ form.description.label }} {{ form.description() }}
    <button type="submit">Save Changes</button>
  </form>


  <form method="POST" 
    action="/user/{{g.user.id}}/gamelist/{{gamelist.id}}/delete">   
    {{ form.hidden_tag() }}                 
    <button class="btn btn-outline-danger" name = "submit">Delete</button>
  </form>


{% endblock %}
