{% extends "base.html" %}

{% block content %}



<h1>About {{game_details["name"]}} </h1>
        
        {% if game_details %}
        <ul>

                <div class="api-image">
                        <li>
                                <img src='{{game_details["thumb_url"]}}'>
                        </li>
                </div>
                
                <br>

                <button> 
                        <a href="/user/{{g.user.id}}/games/{{games.id}}/choose-gamelist">Add To Gamelist
                        </a>
                </button>


                <br>
                <br>

                <li><b>Description:</b> 
                        <br>
                        {{game_details["description"]|safe}}</li>
                <li><b> No. of Players: </b>{{game_details["min_players"]}} - {{game_details["max_players"]}} </li>
                <li><b> Lowest Price: </b>{{game_details["lowest_price"]}}</li>
                <li><b> Year Published: </b>{{game_details["year_published"]}}</li>
                <li><b> MSRP: </b>{{game_details["msrp"]}}</li>
                <li><b> Mechanics: </b>{{game_details["mechanics"]}}</li>
        </ul>

{% endblock %}