<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>BoardGame</title>

  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/popper"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body>
  <div>
    <div>

      {% if not g.user %}
      <nav class="navbar my-nav" style="background-color: #8b0707;">

        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
          </li>
        </ul>
        
      </nav>

      {% else %}
   
      <nav class="navbar my-nav" style="background-color: #8b0707;">

        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/{{g.user.id}}/gamelist">My Gamelist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/{{g.user.id}}/games">My Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/account/user/{{g.user.id}}">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </nav>
      {% endif %}


<div class="container">
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}


  {% block content %}
  {% endblock %}

</div>
</body>
</html>