{% extends 'base.html' %}


{% block content %}

    <div class="row justify-content-md-center">
        
        <h1>Ready To Search For Your Next BoardGame?</h1>

       <form action="/boardgamelist" method ="GET">
            <input type="text" name="name" id="" placeholder="Enter Board Game Name">
            <button>Search</button>
       </form>
        
    </div>

    <br>

            {% if name_and_id %}
                    <ul>
                        <li>{{name_and_id["name1"]}} (ID # {{name_and_id["id1"]}})</li>
                        <li>{{name_and_id["name2"]}} (ID # {{name_and_id["id2"]}})</li>
                        <li>{{name_and_id["name3"]}} (ID # {{name_and_id["id3"]}})</li>
                        <li>{{name_and_id["name4"]}} (ID # {{name_and_id["id4"]}})</li>
                    </ul> 
            {% endif %}
        
{% endblock %}
