{% extends 'base.html' %}


{% block content %}

    <div class="row justify-content-md-center">
        
        <h1>Ready To Search For Your Next BoardGame?</h1>

       <form action="/boardgamelist" method ="GET">
            <input type="text" name="name" id="" placeholder="Enter Board Game Name">
            <button>Search</button>
       </form>
        
    </div>

    <br>

            {% if name_and_id %}
                    Search Results:
                    <hr>
                    <ul>
                        <li><a href='/game/{{name_and_id["id1"]}}'>
                            {{name_and_id["name1"]}}</a></li>
                        <li><a href='/game/{{name_and_id["id2"]}}'>
                            {{name_and_id["name2"]}}</a></li>
                        <li><a href='/game/{{name_and_id["id3"]}}'>
                            {{name_and_id["name3"]}}</a></li>
                        <li><a href='/game/{{name_and_id["id4"]}}'>
                            {{name_and_id["name4"]}}</a></li>
                    </ul> 
            {% endif %}
        
{% endblock %}
