{% extends "base.html" %}





{% block content%}


    <br>

    <h2>
        Hi {{users.username}}!
    </h2>
    
    <br>

    <div class="create-link">
        <p><i>Ready to Create Your Own GameList? 
            <a href="/user/{{g.user.id}}/gamelist/add">Click Here</a></i></p>
    </div>
  
    
    <b><p>HERE ARE YOUR GAMELIST:</p></b>
    


    {% if gamelists %}

        {% for game in gamelists%}
            <ul>
                <li><a href="/user/{{g.user.id}}/gamelist/{{game.id}}">{{game.title}}</a> |
                     <a href="/user/{{g.user.id}}/gamelist/{{game.id}}/edit">Edit Name</a> </li> 
            </ul>
        {% endfor %}

        {% else %}
            <i><p>*YOU HAVE NO GAMELIST!*</p></i>
    {% endif %}




    <!-- group all game name into 1 gamelist

    {% for title, games in gamelists|groupby('title') %}
        <ul>
            <b>{{title}}</b>
            
            {% for game in games %}
                <i>
                    <li>
                        {{game.name}}
                       <a href="/gamelist/{{game.id}}/edit">Edit</a> |
                       <a href="/gamelist/{{game.id}}/review">Check My Review</a>

                    </li>
                </i>
            {% endfor %}
        </ul>
    {% endfor %} -->

{% endblock %}
