{% extends "base.html" %}


{% block content%}

    <h2>
        Hi {{user.username}}!
    </h2>
    
    <br>
    <p><i>Ready to Create Your Own GameList? 
        <a href="/user/{{user.id}}/add-game">Click Here</a></i></p>
    
    <b><p>HERE ARE YOUR GAMELIST:</p></b>
    

    <!-- group all game name into 1 gamelist -->

    {% for title, games in gamelists|groupby('gamelist_title') %}
        <ul>
            <b>{{title}}</b>
            
            {% for game in games %}
                <i>
                    <li>
                        {{game.name}}
                       <a href="/gamelist/{{game.id}}/edit">Edit</a> |
                       <a href="">Check My Review</a>

                    </li>
                </i>
            {% endfor %}
        </ul>
    {% endfor %}

{% endblock %}
